In [1]:
# Define the function "say_hello" so it prints "Hello!" when called.
def say_hello():
    print("Hello!")

In [2]:
#call the function 
say_hello()

Hello!

In [9]:
#Define the function "say_something" so it prints whatever is passed as the variable when called. 
def say_something(something):
    print(something)

In [10]:
say_something("Hello World!")

Hello World!

In [11]:
Jane_says = "Hi! My name is Jane. I am learning Python!"
say_something(Jane_says)

Hi! My name is Jane. I am learning Python!

In [22]:
#Define a function that calculates the percentage of students that passed both 
#math and reading and prints the passing percentage to the output when the function is called. 
def passing_math_percent(pass_math_count, total_stundet_count):
    return pass_math_count / float(total_student_count)*100

In [23]:
passing_math_count = 29370
total_student_count = 39170

In [24]:
#Call the function 
passing_math_percent(passing_math_count, total_student_count)

74.9808526933878

In [25]:
# A list of my grades 
my_grades = ['B', 'C', 'B', 'D']

# Import Pandas 
import pandas as pd 

#convert the my_grades to a Series 
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [35]:
#Change the grades by one letter grade 
my_grades.map({'B':'A','C':'B', 'D':'C'})

0    A
1    B
2    A
3    C
dtype: object

In [36]:
#Using the format() function.
my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades: 
    print("{:.0f}".format)}

92
85
87
98

In [38]:
#Convert the numerical grades to a Series 
my_grades = pd.Series([92.34, 84.56, 86.78, 98.32])
my_grades 

#Format the grades to the numerical whole number percent 
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    98
dtype: object